.horizontal-navbar {
    background-color: #68a9de53; /* Update the background color */
    width: 100%; /* Full width */
    height: 120px; /* Set the height as needed */
    display: flex;
    justify-content: center; /* Space links evenly */
    align-items: center; /* Center vertically */
    position: fixed; /* Fixed position at the top of the page */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Adjust the z-index as needed */
}

.centered-content {
    text-align: center;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-80px);
    }
    75% {
        transform: translateY(80px);
    }
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display links horizontally */
    outline-style: solid; 
    outline-width: large;
    outline-color:rgb(255, 255, 255); 
}

.nav-item {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* Adjust font size as needed */
    margin: 0 20px; /* Add spacing between links */
}

.nav-item a:hover {
    color: #4d4dff; /* Change color on hover */
}
